@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  --color-secondary: teal;
}  

.btn-primary {
  @apply bg-gradient-to-r from-[#4777de] via-[#2a59d9] to-[#155dfc] 
         text-white font-medium border-none 
         shadow-md hover:shadow-lg transition-all duration-300 
         hover:from-[#1e40af] hover:via-[#1e3a8a] hover:to-[#172554];
}

.text {
   @apply bg-gradient-to-r from-[#4777de] via-[#2a59d9] to-[#385bcc] 
           bg-clip-text text-transparent font-bold;
}
.btn-primary:hover{
  @apply opacity-90;
}