@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

 

.btn-primary {
  @apply  bg-gradient-to-r
    from-[#4F5FE3]
    to-[#7889f7]
         text-white font-medium border-none rounded-md
         shadow-md hover:shadow-lg transition-all duration-300 
        hover:from-[#2F3FB8] hover:to-[#4c64e0]
}

.text {
   @apply bg-gradient-to-r from-[#4777de] via-[#2a59d9] to-[#385bcc] 
           bg-clip-text text-transparent font-bold;
}
.btn-primary:hover{
  @apply opacity-90;
}

.padding{
   @apply   px-4 py-2 
}
.navbar-bg {
  @apply bg-black
}






